MISTRAL_API_KEY=
OPENAI_API_KEY=
GEMINI_API_KEY=

QDRANT_URL=http://qdrant:6333 # for docker, use localhost if not using docker
COLLECTION_NAME=optim_rag_base
EMBEDDING_MODEL=BAAI/bge-small-en-v1.5
DENSE_EMBEDDING_MODEL=sentence-transformers/all-MiniLM-L6-v2
BM25_EMBEDDING_MODEL=Qdrant/bm25
LATE_INTERACTION_EMBEDDING_MODEL=colbert-ir/colbertv2.0